//colors

$main-color: #fc7941;
$second-color: #215988;
$default-color: #e2e8f0;
$light-grey-color: #f9f9fb;
$grey-color: #cbd5e1;
$light-color: #ffffff;
$yellow-color: #ffd2a4;
$text-color: #202d3e;
$subtitle-color: #475569;
$box-back-color: #f8fafc;
$red-color: #ef4444;
$orange-color: #fc9d4f;
$light-red-color: #ff5929;
$light-yellow-color: #fef8f1;
$icon-background-color: #f5f3ff;
$placeholder-color: #94a3b8;
$violet-color: #4f46e5;
$dark-blue-color: #2f329d;
$green-color: #22c55e;

// font
$font: "Poppins", sans-serif;
