.accordion-item {
  border: none;
  border-bottom: 1px solid $border-color;
}

.accordion-title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: $subtitle-color;
}

.accordion-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: $subtitle-color;
}

.accordion-button:not(.collapsed) {
  background-color: $light-grey-color;
  box-shadow: 0;
  border: none;
  outline: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) .accordion-text {
  color: $orange-cl !important;
}
