.app {
  padding: 84px 0;
  background-color: $light-yellow-color;
}

.app__title {
  width: 880px;
  margin: 0 auto 58px;
  font-weight: 700;
  font-size: 4.4em;
  line-height: 140%;
  color: #202d3e;
}
