.site-box {
  margin-top: -20px;
  margin-bottom: -20px;
}

.site-box__card {
  min-height: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(20% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px;
  background-color: $light-grey-color;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}

.site-box__card:hover .site-box__text {
  color: $orange-cl;
}

.site-box__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 2em;
  line-height: 30px;
  color: $text-color;
  text-transform: capitalize;
  transition: all ease 0.4s;
  text-transform: capitalize;
}
